.custom-slider{
  .content{
    .title{
      font-size: 32px;
      font-weight: bold;
    }
    .desc{
      margin-top: -27px;
      font-size: 15px;
      color: #b38206;
    }
  }

  .play-button{
    ion-button{
      border-style: solid;
      border-color: rgb(177, 177, 177);
      border-width: 2px;
      height: 50px;
      border-radius: 30px;
      text-transform: none;
      color: black;
    }
  }
}

.slider-buttons{
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 20px;


  .btn{
    --background:white;
    --box-shadow: 0px 6px 25px -9px #00000066;
    color: black;
    --border-radius:50%;
    height: 60px;
    width: 55%;

  }
  .center-btn{
    text-transform: none;
    --background:white;
    --box-shadow: 0px 6px 25px -9px #00000066;
    --ripple-color:transparent;
    color: black;
    --border-radius: 30px;
    height: 60px;
    width: 120px;
  }

}
