<ion-content>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name='menu' slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <ion-button fill='clear' color='light'>
        <ion-icon src='assets/beats_logo_red.svg'>

        </ion-icon>
      </ion-button>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name='person'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img class="bg-logo" src='assets/beats_logo.png'>


  <div class="custom-slider">
    <ion-slides  #slides>
      <ion-slide *ngFor='let i of [1,2,3]'>
        <div class="content">
          <img src='assets/beats_studio.png'>
          <p class="title">
            Beats Studio 3
          </p>
          <p class="desc">
            Wireless On-Ear Headphones
          </p>
          <div class="play-button ion-text-center">
            <ion-button shape='round' fill='clear'>
              Watch the video
              <ion-icon slot="end" name='play-circle-outline'></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="slider-buttons ion-text-center">
      <ion-grid>
        <ion-row>
          <ion-col size='4'>
            <ion-button (click)='prev(slides)' class="btn">
              <ion-icon name='chevron-back'></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size='4'>
            <ion-button class="center-btn">
             {{('00'+sliderIndex).slice(-2)}} of 03
            </ion-button>
          </ion-col>
          <ion-col size='4'>
            <ion-button (click)='next(slides)' class="btn">
              <ion-icon name='chevron-forward'></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
